@inject ILogoutService LogoutService


<div style="display: flex; justify-content:space-between;">

    <NavLink href="">
        <Text Style="color: white;">FinanceManage</Text>
    </NavLink>

    <AuthorizeView>
        <Authorized>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <Button OnClick="LogoutService.Logout">Выйти</Button>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <Text Style="color: white; cursor: pointer;">Привет, <b>@context.User.Identity.Name</b></Text>
                </ChildContent>
            </Dropdown>

        </Authorized>
        <NotAuthorized>
            <Row Justify="center">
                <AntDesign.Col Span="24" Style=" display: flex; justify-content: center; align-items:center;">
                    <TelegramSignInWidget Size="medium" />
                </AntDesign.Col>
            </Row>
        </NotAuthorized>
        <Authorizing>
            <Row Justify="center">
                <AntDesign.Col Span="24" Style=" display: flex; justify-content: center; align-items: center;">
                    <Spin Spinning="true" Tip="Авторизация..." Size="medium" />
                </AntDesign.Col>
            </Row>
        </Authorizing>
    </AuthorizeView>
</div>
@code {

}
