@page "/"
<Title>Finance manager site</Title>

<AuthorizeView>
    <Authorized>
        <p>Hello, authorized</p>
    </Authorized>
    <NotAuthorized>
        <p>YOU ARE NOT AUTHORIZED</p>
    </NotAuthorized>
    <Authorizing>
        <p>Please, wait...</p>
    </Authorizing>
</AuthorizeView>