@page "/"
@inject IMediator Mediator

<Title>Список чатов</Title>

<AntList DataSource="chats">
    <ChildContent Context="item">
        <ListItem>
            <p>@item.ChatName</p>
            <p>@item.ChatId</p>
        </ListItem>
    </ChildContent>
</AntList>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    private List<GetChatsListForUser.Response> chats;

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var state = await authenticationStateTask;
        chats = await Mediator.Send(new GetChatsListForUser.Command(0));
    }
}