@page "/test"
@inject Microsoft.AspNetCore.Components.WebAssembly.Hosting.IWebAssemblyHostEnvironment Env
@using AntDesign.Charts

@inject IMediator Mediator
@inject IJSRuntime JS

@if (Env.Environment != "Development")
{
    <AntDesign.Text>That page works only in Development mode</AntDesign.Text>
    <NavLink href="/"><Button Type="@ButtonType.Primary">Go to home page</Button></NavLink>
}
else
{

}

@code {

}
