name: .NET

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  IMAGE_ID: docker.pkg.github.com/capchik/financemanage/server

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Generate build number
        uses: einaregilsson/build-number@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Print new build number
        run: echo "Build number is $BUILD_NUMBER"
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet tool restore
      - name: Build
        run: dotnet nuke
      - name: Build docker image
        run: docker build -t $IMAGE_NAME ./deploy
      - name: Log into registry
        if: ${{ github.ref == 'refs/heads/master' }}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
      - name: Push image
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          echo IMAGE_ID=$IMAGE_ID

          docker tag $IMAGE_NAME $IMAGE_ID:latest
          docker tag $IMAGE_NAME $IMAGE_ID:build-$BUILD_NUMBER
          docker push $IMAGE_ID:latest
          docker push $IMAGE_ID:build-$BUILD_NUMBER
      - name: Deploy to swarm
        uses: sagebind/docker-swarm-deploy-action@v2
        with:
          remote_host: ssh://user@fin-manage.ru
          ssh_private_key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          ssh_public_key: ${{ secrets.DOCKER_SSH_PUBLIC_KEY }}
          args: service update --image $IMAGE_ID:build-$BUILD_NUMBER fin-manage_server