name: .NET

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  IMAGE_ID: docker.pkg.github.com/capchik/financemanage/server

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Generate build number
        uses: einaregilsson/build-number@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Print new build number
        run: echo "Build number is $BUILD_NUMBER"
      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x
      - name: Restore dependencies
        run: dotnet tool restore
      - name: Build
        run: dotnet nuke
      - name: Build docker image
        run: docker build -t $IMAGE_ID ./deploy
      - name: Log into registry
        if: ${{ github.ref == 'refs/heads/master' }}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
      - name: Push image
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          echo IMAGE_ID=$IMAGE_ID

          docker tag $IMAGE_ID $IMAGE_ID:latest
          docker tag $IMAGE_ID $IMAGE_ID:build-$BUILD_NUMBER
          docker push $IMAGE_ID:latest
          docker push $IMAGE_ID:build-$BUILD_NUMBER
      - name: Update service
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          envs: IMAGE_ID,BUILD_NUMBER
          script: docker service update --image $IMAGE_ID:build-$BUILD_NUMBER fin-manage_server